body {
    font-family: 'Roboto', sans-serif;
    background-color: #4d4d4d;
}


#root {
    padding: 20px;
    background-color: #4d4d4d;

    /* Оригінальний фон внутрішніх компонентів */
}

.container {
    max-width: 1140px;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 15px;

    &.Dark {
        background-color: #4d4d4d;
    }

    &.Sun {
        background-color: #7ab192;
    }
}

.pageTitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}