.mainFormBox {
    width: 500px;
    padding: 44px 50px;
    margin: 0 auto;
    background: #2A2C36;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.title {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -0.02em;
    font-feature-settings: 'liga' off;

    color: #FAFAFA;
}

.formBox {
    display: flex;
    flex-direction: column;

}

.fieldWrapper {
    position: relative;

    &~& {
        margin-top: 20px;
    }

    color: #FAFAFA;
    background: #2A2C36;

    &:hover &:focus {
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background: #2A2C36;
    }
}

.error {
    position: absolute;

    top: 60px;
    left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #F6C23E;

}

.field {
    width: 100%;
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;


    letter-spacing: -0.02em;

    color: #FAFAFA;
    background: #2A2C36;

    opacity: 0.8;
    border: 1px solid #FAFAFA;
    border-radius: 6px;

    &:hover &:focus {
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background: #2A2C36;
    }

    .field:focus::-webkit-input-placeholder {
        color: #FFFFFF;
    }

    cursor: pointer;
}

.submitBtn {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 138px;
    gap: 8px;
    background: #8BAA36;
    border-color: #8BAA36;
    border-radius: 6px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FAFAFA;
}